{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Profil</h1>
                {% include "profile/_form.html.twig" %}
            </div>
        </section>
    </main>
{% endblock %}