{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 mb-4">MERCADONA</h1>
                <p class="lead">Bienvenue sur le site vitrine de notre boutique.</p>
                <p>Explorez notre catalogue et découvrez une sélection exceptionnelle de produits.</p>
                <div class="mt-5">
                    <a class="btn btn-primary btn-lg" href="{{ path('products_index') }}">Accéder à notre catalogue</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

