.allProducts {
    margin-top: 30px;
}

img.img-thumbnail {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border: none;
    margin-bottom: 0;
}

.titreCat {
    margin-bottom: 25px;
}

.oneProduct {
    max-width: 400px;   
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
}

.col-4 {
    margin-bottom: 10px;
}

th:last-child {
    text-align: center;
}

main {
    min-height: calc(100vh - 140px);
}

footer {
    text-transform: uppercase;
}

nav a:hover {
    color: rgb(2, 148, 65) !important;
}

body { 
    text-align: center;
}

.separateurCatalogue {
    width: 250px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
}

.card-text {
    margin-top:5px;
}