<h1>MERCADONA - INSCRIPTION</h1>
<p>Bonjour {{ user.firstname }},</p>
<p>Votre compte a bien été enregistré</p>
{# <p><a href="{{ absolute_url(path('verify_user', {token: token})) }}">{{ absolute_url(path('verify_user', {token: token})) }}</a></p> #}
{# <p>Ce lien expirera dans 3 heures</p> #}